# Environment variables for the Docker Event Metrics microservice
# This corresponds to an etcd entry at /environments/docker-event-metrics-app

STATSD_HOST=172.17.42.1:8125
STATSD_PREFIX=docker.
STATSD_FREQUENCY=15s
DOCKER_ENDPOINT=/var/run/docker.sock